LOCALE=en-us
MAX_PARALLEL=5
LOG_LEVEL=INFO

DATABASE_URL=postgresql://user:password@host:5432/dbname

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/example

NO_GENSHIN=False
NO_STARRAIL=False
NO_ZZZ=False
