LOCALE=en-us
MAX_PARALLEL=5

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/example

COOKIE_API_URL=https://example.com/api/accounts
SECRET_KEY=example

NO_GENSHIN=False
NO_STARRAIL=False
NO_ZZZ=False
